<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>80681955172-qrs8cre6r284f5vfd8d0i0r7g1o8gr80.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.80681955172-qrs8cre6r284f5vfd8d0i0r7g1o8gr80</string>
	<key>API_KEY</key>
	<string>AIzaSyCQBcRHYS62kPEIDgjyQM_0GTOcC_eydqQ</string>
	<key>GCM_SENDER_ID</key>
	<string>80681955172</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.jarnamaApp</string>
	<key>PROJECT_ID</key>
	<string>jarnama-app-43f9f</string>
	<key>STORAGE_BUCKET</key>
	<string>jarnama-app-43f9f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:80681955172:ios:07b1f98aa560e9d242d471</string>
</dict>
</plist>